
*{
    padding: 0;
    margin: 0;
}

:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --pink: #e84393;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}

.box-container{
    padding: 2% 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.box-container .box{
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    background: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    margin: 1rem;
    text-align: center;
    border-radius: 3px;
}

.categories{
    padding-bottom: 3%;
}

.categories .box-container{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.categories .box-container .box{
    font-size: 1.5rem;
    color: gray;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}
.categories .box-container .box:hover{
    color: var(--pink);
}
.categories .box-container .box img{
    width: 200px;
    height: 200px;
    padding: 2px;
    margin: 1rem 0;
    border-radius: 50%;
    border: 2px solid #ececec;
}
.categories .box-container .box span{
    text-transform: uppercase;
    font-size: 16px;
}

/* banner3 -------------------------------------------------------------- */
.banner3{
    background-image: url('image/bg2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 1400px;
    margin: 3rem auto;
    padding-left: 5%;
    height: 300px;
    color: #fff;
}
.banner3 .detail{
    padding: 4% 7%;
}
.banner3 .detail h1{
    font-size: 2.5rem;
    margin: .5rem 0;
}
.banner3 .detail p{
    margin-bottom: 1.5rem;
}
.banner3 .detail a{
    text-transform: uppercase;
    color: #fff;
    padding: .5rem 2rem;
    border: 1px solid #fff;
}
.shop .box{
    position: relative;
}
.price{
    font-size: 18px;
}
.name{
    font-size: 20px;
    color: var(--pink);
    margin: .5rem;
    text-transform: capitalize;
}
.shop .icon{
    position: absolute;
    right: 3%;
    top: 30%;
    display: flex;
    flex-direction: column;
    background: var(--white-alpha-40);
    visibility: hidden;
}
.shop .box:hover .icon{
    visibility: visible;
}
.shop .icon a,
.shop .icon button{
    margin: .2rem 0;
    padding: .3rem;
    border: 1px solid #ececec;
    color: #550A35;
}
.shop img{
    width: 100%;
    height: 350px;
}
.shop .more{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: .5rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    border: 1px solid gray;
}
.shop .more a{
    margin-bottom: .6rem;
    color: gray;
    text-transform: capitalize;
}
.shop .more a:hover{
    color: var(--pink);
}
.shop .more:hover{
    border: 1px solid var(--pink);
    color: var(--pink);
}
.banner{
    width: 100%;
    height: 500px;
    background-image: url('image/bg2.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.banner h1{
    font-size: 3rem;
    position: relative;
    text-transform: capitalize;

}
.banner p{
    font-size: 18px;
}
.view_page{
    padding: 5% 8%;
}
.view_page form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_page form img{
    width: 50%;
}
.view_page form .name{
    font-size: 4rem;
    color: var(--pink);
}
.view_page form .detail,
.view_page form .price{
    font-size: 18px;
    color: #550A35;
    line-height: 2;
}
.view_page form .price{
    font-size: 24px;
}

.view_page form .quantity{
    width: 60;
    box-shadow: none;
    border: 1px solid var(--pink);
    border-radius: 0;
    margin-top: 1rem;
}
.view_page button{
    background: var(--pink);
    color: #fff;
    margin-top: 1rem;
    padding: .8rem 1rem;
}

/*---------------------wishlist page---------*/
.disabled{
    pointer-events: none;
    opacity: .5;
}
.wishlist_total{
    max-width: 120px;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
    border: 1px solid #550A35;
    text-align: center;
    padding: 3rem 0;
    line-height: 2;
    text-transform: capitalize;
}
.wishlist_total p{
    font-size: 1.5rem;
}

.qty{
    display: flex;
    justify-content: space-between;
}
.qty input[type= 'number']{
    width: 35%;
}
.qty input[type='submit']{
    width: 55%;
    cursor: pointer;
    background: var(--pink);
    box-shadow: none;
    color: #fff;
}