
*{
    padding: 0;
    margin: 0;
}

:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}



.categories{
    padding-bottom: 3%;
}

.categories .box-container{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}


/* banner3 -------------------------------------------------------------- */
.banner3{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 1400px;
    margin: 3rem auto;
    padding-left: 5%;
    height: 300px;
    color: #fff;
}
.banner3 .detail{
    padding: 4% 7%;
}
.banner3 .detail h1{
    font-size: 2.5rem;
    margin: .5rem 0;
}
.banner3 .detail p{
    margin-bottom: 1.5rem;
}
.banner3 .detail a{
    text-transform: uppercase;
    color: #fff;
    padding: .5rem 2rem;
    border: 1px solid #fff;
}


.banner{
    width: 100%;
    height: 500px;
    background-image: url('image/dark bg1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.banner h1{
    font-size: 3rem;
    position: relative;
    text-transform: capitalize;
    margin-left: 570px;
}
.banner p{
    font-size: 18px;
    margin-left: 440px;
}

.bannerV{
    width: 100%;
    height: 500px;
    background-image: url('image/dark bg1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.bannerV h1{
    font-size: 3rem;
    position: relative;
    text-transform: capitalize;
    margin-left: 550px;
}
.bannerV p{
    font-size: 18px;
    margin-left: 470px;
}
.view_page{
    padding: 5% 8%;
}
.view_page form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_page form img{
    width: 350px;
    height: 450px;
    margin-right: 50px;
}

.view_page form .detail,
.view_page form .price{
    font-size: 15px;
    color: #550A35;
    line-height: 2;
}
.view_page form .price{
    font-size: 24px;
}



