:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --pink: #e84393;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}

.checkout-form{
    height: 210vh;
}

.display-order{
    box-shadow: var(--box-shadow);
    width: 50vw;
    margin: 1rem auto;
    text-align: center;
    line-height: 2;
}
.display-order span{
    display: inline-block;
    margin: .5rem auto;
    border-radius: 3px;
    text-transform: capitalize;
}
.display-order .grand_total {
    width: 60%;
    height: 50px;
    background: var(--pink);
    color: #fdfdfd;
    cursor: pointer;
}
.checkout-form form{
    width: 50vw;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
}

.checkout-form .btn2{
    text-transform: capitalize;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    width: 620px;
    height: 40px;
    background: #550A35;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid var(--pink);
    margin-top: 20px;
}
.input-field label{
    margin: .2rem 0;
}
.input-field .select{
    width: 100%;
    background: whitesmoke;
    padding: 1rem 1.4rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    padding-left: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 40);
    font-size: 14px;
}