:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --pink: #ab16d8;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}

.help{
    padding: 1% 0;
}
.help .box-container .box img{
    height: 50px;
    width: 50px;
}
.box-container .box h2{
    font-size: 1.2rem;
    color: var(--purple);
    text-transform: uppercase;
    margin-top: .5rem;
}
.box-container .box p{
    font-size: 18px;
    color: gray;
    margin: 1rem 0;
}

.form-containerC{
    background-image: url('image/contact.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-containerC .form-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form-containerC .form-section form{
    width: 50vw;
    padding: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--white-alpha-25);
    border-radius: 10px;
    backdrop-filter: var(--backdrope-filter-blur);
    box-shadow: var(--box-shadow);
}
.form-containerC .form-section form h1{
    text-align: center;
    color: var(--purple);
    margin: 1rem 0;
}
.form-containerC .form-section form p{
    text-align: center;
    color: gray;
}
.form-containerC .form-section form .Tmessage{
    height: 120px;
}


