
.order-container{
    padding: 3% 7%;
    background-image: url('image/f2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.order-container .box-container{
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    justify-content: center;
    
}
.order-container .box{
    text-align: left;
    padding: 1rem 2rem;
}
.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: purple;
}
.order-container .box span{
    color: #555;
}
.order-container form{
    text-align: center;
}
.order-container form select{
    width: 30%;
    margin: 1rem 0;
    padding: .5rem 0;
    cursor: pointer;
}
.order-container form input {
    box-shadow: none;
    width: 30%;
    text-transform: capitalize;
}
.box-container .delete {
    padding: .6rem 12%;
    width:30% ;
}
.user-container .box-container,
.message-container .box-container{
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1rem));
}
.user-container .box-container .box{
    padding-bottom: 3rem;
}

.update-container .box-container .box p:nth-child(4){
    margin-bottom: 2rem;
}