*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --pink: #e84393;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}
.user-container{
    background-image: url('image/f2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.empty {
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}
.message-container{
    background-image: url('image/f2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.user-container title,
.message-container title {
    margin-top: 30px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 30px;
    color: black;
}
.user-container .box-container,
.message-container .box-container {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1rem));
}
.user-container .box-container .box {
    padding-bottom: 3rem;
}
.user-container .box-container .box span {
    color: var(--pink);
}
.user-container .box-container .box p:nth-child(4){
    margin-bottom: 2rem;
}