body{
    margin: 0;
}

:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}
header{
    background: #faefef;
    width: 100%;
    height: 80px;
    box-shadow: var(--box-shadow);
    position: sticky;
    z-index: 1000;
}
.flex{
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 ;
    margin-left: 30px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    margin: 5px 20px 5px 200px;
}
.navbar a{
    margin: 1rem;
    font-size: 1rem;
    color: #7D0552;
    text-transform: uppercase;
}
svg{
    margin-left: 2rem;
}
.navbar a:hover,
.header .icons i:hover{
    color: #c7b3f5;
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aa4ff3;
}
#menu-btn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 150%;
    right: -10%;
    width: 18rem;
    padding: .7rem 1rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-transform: capitalize;
    color: #555;
    font-size: 12px;
    display: none;
    transition: .5s;
}
.header .user-box.active{
    display: block;
}
.header .user-box span{
    text-transform: capitalize;
    color: #aa4ff3;
    font-size: 14px;
}
.logout-btn{
    background: #c7b3f555;
    width: 14rem;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: #aa4ff3;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: 1rem;
}


/* ------------------- media screen --------------------- */
@media (max-width: 991px){
    #menu-btn{
        display: block;
    }
    .header .flex{
        position: absolute;
        top: 149%;
        left: 0;
        right: 0;
        border-top: 1px solid #aa4ff3;
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
}

