.user-container .box-container,
.message-container .box-container{
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1rem));
}
.user-container .box-container .box{
    padding-bottom: 3rem;
}
.update-container .box-container .box span{
    color: var(--pink);
}