*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-alpha-40: rgba(255,255,255,0.40);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrope-filter-blur: blur(5px);
    --pink: #e84393;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
}
.dashboard{
    background-image: url('image/back\ la\ now.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    color: #4b148a;
}

.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.box-container .box{
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    background: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}
.box-container .box h3{
    font-size: 3rem;
    color: #545bba;
}
.box-container .box p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0;
}




