/* ----------------------add product----------------------- */
.add-products{
    background-image: url('image/f.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.add-products form{
    width: 50vw;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #fef0ea;
}

.add-products form textarea{
    height: 200px;
}
.show-products{
    background-image: url('image/f2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.show-products .box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.show-products .box-container .box{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    background: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}

.delete{
    margin: .5rem;
    text-transform: capitalize;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 5px;
}


.show-products .box img{
    width: 80%;
}
.show-products .box h4{
    text-transform: capitalize;
}

